#!/usr/bin/make -f

export PYBUILD_DESTDIR_python2=debian/python-pocket-lint
export PYBUILD_DESTDIR_python3=debian/python-pocket-lint

BIN_PATH:=debian/python-pocket-lint/usr/bin/pocketlint
PY_VERSION:=$(shell pyversions -d)
PY3_VERSION:=$(shell py3versions -d)

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install
	# Install scripts for the latest 2x and 3.x.
	cp $BIN_PATH/pocketlint $(CURDIR)/$(BIN_PATH)/pocketlint2
	sed -i "1s/python.*/python$(PY_VERSION)/" $(CURDIR)/$(BIN_PATH)/pocketlint2
	cp $BIN_PATH/pocketlint $(CURDIR)/$(BIN_PATH)/pocketlint3
	sed -i "1s/python.*/python$(PY3_VERSION)/" $(CURDIR)/$(BIN_PATH)/pocketlint3
