#!/usr/bin/make -f

export PYBUILD_DESTDIR_python2=debian/python-pocket-lint
export PYBUILD_DESTDIR_python3=debian/python-pocket-lint

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install
	cp debian/python-pocket-lint/usr/bin/pocketlint debian/python-pocket-lint/usr/bin/pocketlint3
	sed -i '1s/python.*/python2/' ./debian/python-pocket-lint/usr/bin/pocketlint
	sed -i '1s/python.*/python3/' ./debian/python-pocket-lint/usr/bin/pocketlint3

